<template>
  <div class="ingredient-form">
    <b-form @submit="$emit('addedIngredient', $event)">
      <b-form-group id="input-group-1" label-for="input-1">
        <b-form-input
          id="input-1"
          v-model="form.name"
          type="text"
          required
          placeholder="Ingredient Name"
          list="input-list"
          @change="$emit('enteredName')"
        ></b-form-input>
        <b-form-datalist
          id="input-list"
          :options="ingredientOptions"
        ></b-form-datalist>
      </b-form-group>
      <b-form-group id="input-group-2" label-for="input-2">
        <b-form-input
          id="input-2"
          v-model="form.data"
          type="number"
          step="any"
          required
          placeholder="Enter Amount"
        ></b-form-input>
      </b-form-group>
      <b-form-group id="input-group-4">
        <b-form-select v-model="form.selected" :options="dataOptions" />
      </b-form-group>
      <b-button type="submit" variant="primary">Add Ingredient</b-button>
    </b-form>
  </div>
</template>

<script>
import {
  BForm,
  BFormGroup,
  BFormInput,
  BFormDatalist,
  BFormSelect,
  BButton,
} from 'bootstrap-vue'
export default {
  name: 'IngredientForm',
  props: {
    ingredientOptions: Array,
    dataOptions: {
      type: Array,
      required: true,
      default: () => ['Percentage', 'Weight'],
    },
  },
  data() {
    return {
      form: {
        name: '',
        data: null,
        selected: null,
      },
    }
  },
  components: {
    BForm,
    BFormGroup,
    BFormInput,
    BFormDatalist,
    BFormSelect,
    BButton,
  },
}
</script>

<style scoped lang="scss">
.ingredient-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
</style>
