<template>
  <table class="table table-hover">
    <thead>
      <tr>
        <th
          class="text-center"
          scope="col"
          v-for="(label, index) in header"
          :key="index"
        >
          {{ label }}
        </th>
      </tr>
    </thead>
    <tbody>
      <IngredientRow
        v-for="(ingredient, index) in ingredients"
        :key="index"
        :ingredient="ingredient"
        @removeIngredient="$emit('removeIngredient', $event)"
      />
    </tbody>
  </table>
</template>

<script>
import IngredientRow from '../IngredientRow'

export default {
  name: 'IngredientTable',
  props: {
    ingredients: {
      type: Array,
      required: true,
    },
    header: Array,
  },
  components: {
    IngredientRow,
  },
}
</script>

<style src="./IngredientTable.scss" scoped lang="scss"></style>
